{% extends "plantillaPrincipal.html"%}

	{% block mainContent%}
		<script type="text/javascript" defer>
			var palabrasCensuradas = [
				{% for palabra in censuradas%}
					"{{palabra}}",
				{% endfor %}
			];

			// let listaComentarios = [
			// 	{% for comentario in comentarios %}
			// 		new Comentario ('{{comentario.usuario}}', '{{comentario.fecha}}', '{{comentario.texto}}'),
			// 	{% endfor %}
			// ];

		</script>

		<article id="descripcionEvento" class="grid-descripcionEvento">
		  <div class="header verdeSobreNegro tituloDescripcion"> {{ titulo }} </div>
		  <div class="video">
				<iframe class="formatoVideo" allowfullscreen src="https://www.youtube.com/embed/{{ trailer }}?autoplay=1&mute=1"></iframe>
		  </div>

		  <!-- En esta franja de la descripción se especifícan detalles más técnicos,  como el coste, duración y las redes sociales -->
		  <div class="horarios verdeSobreNegro formatoHorario">
				<div class="headerHorario">
					<h2> Horarios </h2>
				</div>

				<p class="infoHorario">
					Organizador: Virema 									<br>
					Hora: {{ fecha }}  									<br>
					Duración: {{ duracion }} minutos 				<br>
					<span>Coste: {{ coste }} euros</span> 			<br>
				</p>

				<!-- Conjunto de iconos de redes sociales agrupados horizontalmente -->
				<div class="social">
					<!-- PATATA -->
					<a class="imagenEnlace" href="https://facebook.com"> <img class="imagenSocial" src="imgs/facebook3.png"   alt="icono de facebook"> </a>
					<a class="imagenEnlace" href="https://twitter.com">  <img class="imagenSocial" src="imgs/twitter3.png"    alt="icono de twitter"> </a>
					<a class="imagenEnlace" href="evento_imprimir.php?evento={{ id }}"> <img class="imagenSocial" src="imgs/impresora2.png" alt="evento imprimir"> </a>

					<button class="imagenButton" type="button" onclick="showComments()">
						<img class="imagenButton" src="imgs/comment2.png"/img>
					</button>
				</div>
		  </div>

		  <section id="commentPanel" class="comment">

			  {% if tipo == 'REGISTRADO' or tipo == 'MODERADOR' or tipo == 'GESTOR' or tipo == 'SUPER' %}
				  <div class="verdeSobreNegro formularioComentario">
					  <form
					  		action="gestionarComentario.php?accion=ADD&idEv={{id}}&nombreUser={{nombre}}"
					  		method='post'
							class="formularioComentario">

							<label>Texto comentario: </label><br>
							<textarea name="texto" onkeyup="censura();" id="textoComentario"></textarea><br>

							<button id="enviarComentario" disabled="true" class="verdeSobreNegro" type="submit">Enviar comentario</button>
					  </form>
				  </div>
			  {% endif %}

			  <div class="listaComentarios">
					{% for comentario in comentarios %}

						<div class="estiloComentario">

							<div>
								<p class="itemComentario">
									<strong>{{comentario.usuario}} | {{comentario.fecha}}</strong> <br>
									{{comentario.texto}}

									{% if comentario.editado != 0 %}
										<br><ins><i>Editado por un moderador</i></ins>
									{% endif %}
								</p>
							</div>

							{% if tipo == "MODERADOR" or tipo == 'GESTOR' or tipo == 'SUPER' %}
								<div class="opcionesComentario">
									<button class="opcionesComentarioButton" type="button" onclick="editarComentario({{ comentario.id }} , {{ id }} )">
										EDITAR
									</button>

									<button class="opcionesComentarioButton" type="button" onclick="eliminarComentario( {{ comentario.id }}, {{ id }} )">
										ELIMINAR
									</button>
								</div>
							{% endif %}

						</div>

	 		  		{% endfor %}
				</div>

		  </section>

		  <!-- Contiene la sinópsis de la película, lo dejamos como sección ya que es una sección importante de la descripción del evento -->
		  <section class="sinopsis verdeSobreNegro formatoSinopsis">
			  <h2>Sinópsis</h2>
			  <p>
				  {{sinopsis}}
			  </p>
		  </section>
	  </article>
	{% endblock%}
