<!DOCTYPE HTML>
<html>
	{% block head %}
		<head>
			<meta charset="UTF-8">

			<title>VIREMA: cine online</title>
			<link rel="stylesheet" href="css/styles.css">

			<meta name="description" content="Plantilla de la página principal">
			<meta name="keywords" content="HTML, CSS, JavaScript, PHP, Twig">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<script type="text/javascript" src="javascript/comentarios.js"></script>
			<script type="text/javascript" src="javascript/opcionesEvento.js"></script>
			<script type="text/javascript" src="javascript/opcionesUsuario.js"></script>
			<script type="text/javascript" src="javascript/utils.js"></script>

			<!-- aniadirmos biblioteca de ajax  -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script type="text/javascript" src="javascript/ajax.js"></script>

		</head>
	{% endblock%}

	{% block fullBody %}

		<body>
			{% block header%}
				<!-- Cabecera con titulo más descriptivo posible -->
				<header class="flex-cabecera">
					<a class="estiloEnlace" href="/index.php">

						<div class="flexFila">
							<!-- Imagen con el logo necesario -->
							<img class="imagenLogo" src="imgs/logo.png" alt="Logo de la página" width="100%">

							<!-- Titulo en grande de la página -->
							<h1 class="tituloCabecera"> Virema </h1>
						</div>

					</a>
<!--
						<table class="resultadosBusqueda" name="resultados_busqueda" id="resultados_busqueda">
						  <tbody></tbody>
					  </table> -->



					<!-- BARRA DE BUSQUEDA AJAX -->

					<div class="flexColumna">
						<form action="index.php" method="post" class="search" autocomplete="off">
							<input type="text" class="searchTerm" name="barra_busqueda" id="barra_busqueda" placeholder="Introduce el nombre de un evento">
							<button type="submit" class="searchButton">
								<img src="../imgs/lupa.png" width="100%" alt="imagen de lupa, buscar" >
							</button>

						</form>

						<table class="resultadosBusqueda" name="resultados_busqueda" id="resultados_busqueda">
							<tbody>

							</tbody>
						</table>
					</div>



					<div class="flexAcceso">

						<!-- si el usuario es false, entonces no está logueado, lo tratamos como a un anonimo -->
						{% if tipo == false %}
							<!-- div que contiene las opciones para acceder -->

							<div class="flexAccesoItem">
									<button type="button"  onclick="location.href='login.php'"name="button">LOGIN</button>
							</div>

							<div class="flexAccesoItem">
									<button type="button"  onclick="location.href='register.php'"name="button">REGISTRARSE</button>
							</div>

						{% else %}



							{% if tipo == 'GESTOR' or tipo == 'SUPER' %}
								<div class="flexAccesoItem">
										<button type="button"  onclick="aniadirEvento()" name="button">ADD EVENTO</button>
								</div>
							{% endif %}

							{% if tipo == 'SUPER' %}
								<div class="flexAccesoItem">
										<button type="button"  onclick="listarUsuarios()" name="button">LISTAR USUARIOS</button>
								</div>
							{% endif %}



							<!-- <div class="flexAccesoItem">
									<button type="button"  onclick="editarMiUsuario()"name="button">MIS DATOS</button>
							</div> -->

							<div class="flexAccesoItem">
									<button type="button"  onclick="cerrarSesion()"name="button">CERRAR SESION</button>
							</div>

							<div class="fotoPerfilMarco">
									<img onclick="editarMiUsuario()" class="fotoPerfil" src="{{ foto_perfil }}" alt="Foto de perfil">
							</div>


						{% endif %}

					</div>
				</header>
			{% endblock%}


			{% block mainBody%}

				<!-- Contenido principal de la página -->
				<main class="flex-main">
					{% block aside %}
						<!-- Contenido principal de la página -->
						<aside>
							<nav class="flex-listaLateral">
								<div class="list-item">
									<a class="enlaceInteres" href="https://editorial.rottentomatoes.com/guide/essential-comedy-movies/" target="_blank">Top comedias de este siglo</a>
								</div>
								<div class="list-item">
									<a class="enlaceInteres" href="https://www.filmaffinity.com/es/movie-group.php?group-id=549" target="_blank">Historias para no dormir ;)</a>
								</div>
								<div class="list-item">
									<a class="enlaceInteres" href="https://www.espinof.com/listas/las-mejores-peliculas-de-accion-de-la-historia" target="_blank">Películas de acción recomendadas</a>
								</div>
								<div class="list-item">
									<a class="enlaceInteres" href="https://www.espinof.com/listas/mejores-pedivculas-ciencia-ficcion-historia" target="_blank">Ciencia ficción: una mirada al futuro</a>
								</div>
								<div class="list-item">
									<a class="enlaceInteres" href="http://www.sensacine.com/pedivculas/estrenos/es/" target="_blank">No te pierdas los próximos estrenos</a>
								</div>
								<div class="list-item">
									<a class="enlaceInteres" href="https://taquilladecine.com/pedivculas-mas-taquilleras-2020/" target="_blank">Películas más taquilleras del 2020</a>
								</div>
								<div class="list-item">
									<a class="enlaceInteres" href="https://www.goldenglobes.com/articles/los-efectos-del-coronavirus-en-el-cine-mundial-al-momento" target="_blank">COVID: efecto en el cine</a>
								</div>
							</nav>
						</aside>
					{% endblock %}

					{% block mainContent %}
						<!-- Bloque donde mostrar el contenido principal de cada página -->
					{% endblock %}
				</main>
			{% endblock%}
	{% endblock %}
		<!-- Nuestro pie de pagina es un footer, contiene un elemento address ya que
	    dentro tenemos una dirección de correo y también direcciones de domiclio-->
	   <footer>
	      <address>
	         Escrito por <a href="mailto:ahmedmkoubaa@correo.ugr.es">Ahmed El Moukhtari koubaa</a><br>
	         Visítanos:
	         aprendiendo-despacito.com<br>
	         Avenida de la compilación, 22, 8080<br>
	         República del programador
	      </address>
	   </footer>

	</body>
</html>
