.centrar{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

.dimensionesImgLogo {
	/* height: 100px; */
	width: 2em;
	/* margin-top:15px; */
	/* align-self: center; */
	/* justify-content: center; */
	/* display: flex; */
}

.flex-container {
  display: flex;
  /* grid-column-gap: 10px; */
  background-color: lightgrey;
  padding: 10px;
  /* width:1000px; */
  border-radius: 20px;
  border:1px solid black;
  /* position: absolute; */
  /* margin-right: auto; */
  align-items: center;
  justify-content: center;
}

.flex-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 3em;
  /* text-align: center; */
  /* align-self: center; */
  /* justify-content: stretch; */
}

.formatoTitulo {
	font-size: 6em;
	color: #3C36FC;
	font-family: lucida handwriting;
	text-align: left;
	border: transparent;
	background-color: transparent;
}

.formatoLogo {
	border-radius: 50%;
	background-color: lightgreen;
}

body {
	background-image: url('../imgs/fondo-body.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* position:relative; */
}

.anchura {
	width: 99%;
	/* text-align: center; */
	/* align-self: center; */
}

.list-container {
  display: flex;
  flex-direction: column;
  background-color:transparent;
  padding: 0%;
  width: 20.625%;
  margin-top: 0.67%;

  /* align-items: stretch;
  justify-content: stretch; */
  /* grid-row-gap:10%; */
  /* position: absolute; */
  /* margin-top: 1%; */
}

.list-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 5px solid orange; */
  border-radius: 9px;
  padding: 0.9%;
  font-size: 1.5em;
  text-align: left;
  width: auto;
  margin-top: 2%;
}

section {
	grid-area: eventos;
}

aside {
	grid-area: aside;
}

.main-container {
	display: grid;
	grid-template-areas: "aside eventos"
	grid-template-columns: 1fr 3fr;
}

.grid-container {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	/* grid-template-rows: 163px 163px 163px; */
	/* grid-template-areas:
		  'grande grande grande'
		  'normal alargado normal'
		  'peque alargado peque'; */
	/* background-color: red; */
	/* position: absolute; */
	gap: 4%;
	margin-left: 20.4%;
	/* margin-top: 190px; */
	padding: 0.9%;
	width: 79.89%;
	/* height: 490px; */
	border-radius: 9px;
	/* margin-top:-50%; */
	/* position: fixed; */
	align-items: stretch;
	justify-content: stretch;
	/* align-self: flex-end; */
}



.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 1%;
	/* padding-bottom: 36px; */
	border-radius: 0.25em;
	font-size: 2em;
	/* align-items: stretch; */
	/* align-self: stretch; */
	display: flex;
	width: 100%;		/*Es el 100% del espacio que se defina en el grid-container*/
	height: 100%;		/*Es el 100% del espacio que se defina en el grid-container*/
	/* flex-direction: column; */
}

.formatoEvento {
	color: purple;
	font-size: 0.9em;
	font-family: verdana;
	text-align: center;
	/* background-color:transparent; */
	/* margin-left: 10px; */
	/* padding-left: 13px; */
	/* padding-bottom: 100px; */
}

.dimensionColumna {
	/* width: 10.375%; */
	/* height: 120px; */
	/* background-color:yellow; */
}

.dimensionColumna img {
	/* text-align: center; */
	width: 100%;
	height: 73%;
	/* display: flex; */
	width: 100%;
	/* height: 100px; */
}

.pieDePagina {
	text-align: center;
	/* position: relative; */
	top: 750px;
	width: 1010px;
	left:460px;
	background-color: lightgrey;

	font-size: 2em;
   border:1px solid black;
	border-radius: 10px;
	border-top:0px;
	border-bottom:0px;
}

.dimensionesEnlazado {
	padding:0px;
	text-decoration: none;
}

.tituloEvento {
	font-family: "Brush Script MT";
	font-size: 3em;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
	width: 700px;
	background-color: lightgrey;
	text-align: center;
	border-radius: 10px;
}

.sinopsis {
	color:black;
	text-align: justify;
	font-size: 1.5em;
	background-color: lightgrey;
	width: 680px;
	height: 162px;
	/* position:absolute; */
	margin-top: 10px;
	border-radius: 10px;
	padding: 10px;
}

.descripcionEvento {
	font-size: 1.7em;
	background-color: lightgrey;
	border-radius: 10px;
	width: 200px;
	height: 230px;
	padding: 10px;
	text-align: center;
	margin:0px;
	/* padding-top:10px; */
	align-items: center;
}

.formatoVideo {
	width: 450px;
	height: 250px;
	text-align: right;
	/* position: absolute; */
	margin-top: -250px;
	margin-left: -450px;

	border: 0px solid transparent;

	border-radius: 10px;
}

.contenidoEvento {
	text-align:right;
	width:700px;
	align-items: center;
}

span {
	color: red;
}

.botonEvento {
	 height:50px;
	 width:50px
}

.formatoLogoImpresion {
	height: 200px;
	width: 200px;
	text-align: center;
}

.impresion{
	text-decoration: none;
	background-image: none;
	text-align: center;
	align-items: center;
}

.letraVisible {
	font-size: 1.2em;
	text-align: justify;
	width: 90%;
}

.tituloGrande {
	font-family: Arial;
	font-size: 4em;
	font-weight: bold;
	/* text-align: justify; */
}


/* ******************************************************************************* */
/*DUDAS*/

/* me gustaria aÃ±adir enlaces a list-item de manera
que esto se adaptase al tamaÃ±o del texto, o sea que el texto
no se salga, sino que se quede dentro y salte de una linea a otra */

/* Me gustaria que la aprte de la izquierda se quedase quieta sin mÃ¡s
y no se moviese mÃ¡s, aunque se hiciese zoom */

/* me gustarÃ­a saber como puedo hacer para que cuando haga zoom en
mi pagina el contenido se siga manteniendo en el centro, es decir, como
hacer un zoom centrado, he estado buscando informacion al respecto pero
no he encontrado gran cosa */

/*Muchas veces me gustarÃ­a tener un conjunto de datos que usar siempre
que necesite, como unas medidas estandar para un cierto contenido, como
lo puedo hacer? uso los name, id, declaro variables globales o algo asi?*/

/* En cuanto a separar la parte de formato de la parte de estilo/decoraciÃ³n,
atributos como alineacion, posicion, etc donde quedarÃ­an en el html o en
el css */

/* CÃ³mo hacer que al hacer zoom, las cosas sigan en el lugar de la pantalla
que les corresponde, es decir, si mis textos estÃ¡n en el centro yo quiero que
al hacer zoom, estos sigan centrados */

/* ******************************************************************************* */
